<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Save</title>
</head>
<body>
<form action="/allfunction/df/saveshow" method="post">
    <table>
        <tr>
            <td><label>工厂编号</label></td>
            <td><input type="text" id="factoryNum" name="factoryNum"/></td>
        </tr>
        <tr>
            <td><label>消毒时间</label></td>
            <td><input type="date" id="disinfectTime" name="disinfectTime" value="2018-03-01"/></td>
        </tr>
        <tr>
            <td><label>消毒药品名称</label></td>
            <td><input type="text" id="disinfectName" name="disinfectName"/></td>
        </tr>
        <tr>
            <td><label>用药剂量</label></td>
            <td><input type="text" id="disinfectQuality" name="disinfectQuality"/></td>
        </tr>
        <tr>
            <td><label>消毒方法</label></td>
            <td><input type="text" id="disinfectWay" name="disinfectWay"/></td>
        </tr>

        <tr>
            <td><label>操作员</label></td>
            <td><input type="text" id="operator" name="operator"/></td>
        </tr>

        <tr>
            <td><label>备注</label></td>
            <td><input type="text" id="remark" name="remark"/></td>
        </tr>

        <tr>
            <td><input type="submit" id="submit" value="提交"/></td>
        </tr>

    </table>
</form>
</body>
</html>