<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Find</title>
</head>
<body>
<form action="/allfunction/df/findshow" method="post">
    <table>
        <tr>
            <td><label>工厂编号</label></td>
            <td><input type="text" id="factoryNum" name="factoryNum" /></td>
        </tr>
        <tr>
            <td><label>消毒时间间隔</label></td>
            <td><input type="date" id="disinfectTimeStart" name="disinfectTimeStart" /></td>
            <td><input type="date" id="disinfectTimeEnd" name="disinfectTimeEnd" /></td>
        </tr>
        <tr>
            <td><label>消毒药品</label></td>
            <td><input type="text" id="disinfectName" name="disinfectName" /></td>
        </tr>
        <tr>
            <td><label>药品质量</label></td>
            <td><input type="text" id="disinfectQuality" name="disinfectQuality" /></td>
        </tr>
        <tr>
            <td><label>消毒方式</label></td>
            <td><input type="text" id="disinfectWay" name="disinfectWay" /></td>
        </tr>
        <tr>
            <td><label>操作员</label></td>
            <td><input type="text" id="operator" name="operator" /></td>
        </tr>
        <tr>
            <td><label>专家</label></td>
            <td><input type="text" id="professor" name="professor" /></td>
        </tr>
        <tr>
            <td><label>监督员</label></td>
            <td><input type="text" id="supervisor" name="supervisor" /></td>
        </tr>
        <tr>
            <td><label>备注</label></td>
            <td><input type="text" id="remark" name="remark" /></td>
        </tr>
        <tr>
            <td><label>专家通过</label></td>
            <td><input type="text" id="isPass1" name="isPass1" /></td>
        </tr>
        <tr>
            <td><label>未通过原因</label></td>
            <td><input type="text" id="unpassReason1" name="unpassReason1" /></td>
        </tr>
        <tr>
            <td><label>监督员通过</label></td>
            <td><input type="text" id="isPass2" name="isPass2" /></td>
        </tr>
        <tr>
            <td><label>未通过原因</label></td>
            <td><input type="text" id="unpassReason2" name="unpassReason2" /></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="提交"/></td>
        </tr>
    </table>
</form>


</body>
</html>