<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.deep.domain.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/TestMapper.xml"/>
        <mapper class="com.deep.infra.persistence.sql.mapper.UserMapper"/>
        <mapper resource="mapper/BreedingPlanMapper.xml"/>
        <mapper resource="mapper/DiagnosisPlanMapper.xml"/>
        <mapper resource="mapper/NutritionPlanMapper.xml"/>
        <mapper resource="mapper/NoticePlanMapper.xml"/>
        <mapper resource="mapper/PicMapper.xml"/>
        <mapper resource="mapper/MessageMapper.xml"/>

    </mappers>
</configuration>