<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <typeAliases>
        <package name="com.deep.domain.model"/>
    </typeAliases>
    <mappers>
        <mapper resource="mapper/TestMapper.xml"/>
        <!--<mapper class="com.deep.infra.persistence.sql.mapper.UserMapper"/>-->
        <!--<mapper class="com.deep.infra.persistence.sql.mapper.RoleMapper"/>-->
        <!--<mapper class="com.deep.infra.persistence.sql.mapper.PermitMapper"/>-->
        <!--<mapper class="com.deep.infra.persistence.sql.mapper.FactoryMapper"/>-->
        <!--<mapper class="com.deep.infra.persistence.sql.mapper.AgentMapper"/>-->
        <!--<mapper class="com.deep.infra.persistence.sql.mapper.TestMapper"/>-->
    </mappers>
</configuration>