<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Save</title>
</head>
<body>
<form action="/allfunction/gf/saveshow" method="post">
    <table>
        <tr>
            <td><label>原耳牌</label></td>
            <td><input type="text" id="selfEartag" name="selfEartag"/></td>
        </tr>
        <tr>
            <td><label>免疫耳牌</label></td>
            <td><input type="text" id="immuneEartag" name="immuneEartag"/></td>
        </tr>
        <tr>
            <td><label>商标耳牌</label></td>
            <td><input type="text" id="tradeMarkEartag" name="tradeMarkEartag"/></td>
        </tr>
        <tr>
            <td><label>种羊基地</label></td>
            <td><input type="text" id="breedingSheepBase" name="breedingSheepBase"/></td>
        </tr>
        <tr>
            <td><label>初登时间</label></td>
            <td><input type="date" id="birthTime" name="birthTime"/></td>
        </tr>
        <tr>
            <td><label>初登体重</label></td>
            <td><input type="text" id="birthWeight" name="birthWeight"/></td>
        </tr>
        <tr>
            <td><label>颜色</label></td>
            <td>
                <select id="color" name="color">
                    <option value="棕色">棕色</option>
                    <option value="暗红">暗红</option>
                    <option value="杂色">杂色</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>性别</label></td>
            <td>
                <select id="sex" name="sex">
                    <option value="公">公</option>
                    <option value="母">母</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><label>父耳牌</label></td>
            <td><input type="text" id="eartagOfFather" name="eartagOfFather"/></td>
        </tr>
        <tr>
            <td><label>母耳牌</label></td>
            <td><input type="text" id="eartagOfMother" name="eartagOfMother"/></td>
        </tr>
        <tr>
            <td><label>父父耳牌</label></td>
            <td><input type="text" id="eartagOfFathersFather" name="eartagOfFathersFather"/></td>
        </tr>
        <tr>
            <td><label>父母耳牌</label></td>
            <td><input type="text" id="eartagOfFathersMother" name="eartagOfFathersMother"/></td>
        </tr>
        <tr>
            <td><label>母父耳牌</label></td>
            <td><input type="text" id="eartagOfMothersFather" name="eartagOfMothersFather"/></td>
        </tr>
        <tr>
            <td><label>母母耳牌</label></td>
            <td><input type="text" id="eartagOfMothersMother" name="eartagOfMothersMother"/></td>
        </tr>
        <tr>
            <td><label>备注</label></td>
            <td><input type="text" id="remark" name="remark"/></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="提交"/></td>
        </tr>

    </table>
</form>
</body>
</html>