<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>GenealogicalFilesFunctionChoice</title>
</head>
<body>
<form action="/allfunction/gf/save" method="post">
    <table>
        <tr>
            <td><input type="submit" id="submitsave" value="插入数据"/></td>
        </tr>
    </table>
</form>
<form action="/allfunction/gf/find" method="post">
    <table>
        <tr>
            <td><input type="submit" id="submitfindfamily" value="查询数据"/></td>
        </tr>
    </table>
</form>
<form action="/allfunction/gf/delete" method="post">
    <table>
        <tr>
            <td><input type="submit" id="submitdelete" value="删除数据"/></td>
        </tr>
    </table>
</form>
</body>
</html>