<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Find</title>
</head>
<body>
<form action="/allfunction/gf/findshow" method="post">
    <table>
        <tr>
            <td><label>原耳牌号</label></td>
            <td><input type="text" id="selfEartag" name="selfEartag" value=""/></td>
        </tr>
        <tr>
            <td><label>免疫耳牌号</label></td>
            <td><input type="text" id="immuneEartag" name="immuneEartag" /></td>
        </tr>
        <tr>
            <td><label>商标耳牌号</label></td>
            <td><input type="text" id="tradeMarkEartag" name="tradeMarkEartag" /></td>
        </tr>
        <tr>
            <td><label>种羊基地</label></td>
            <td><input type="text" id="breedingSheepBase" name="breedingSheepBase" /></td>
        </tr>
        <tr>
            <td><label>出生时间间隔</label></td>
            <td><input type="text" id="birthTimeStart" name="birthTimeStart" /></td>
            <td><input type="text" id="birthTimeEnd" name="birthTimeEnd" /></td>
        </tr>
        <tr>
            <td><label>出生体重间隔</label></td>
            <td><input type="text" id="birthWeightStart" name="birthWeightStart" /></td>
            <td><input type="text" id="birthWeightEnd" name="birthWeightEnd" /></td>
        </tr>
        <tr>
            <td><label>毛色</label></td>
            <td><input type="text" id="color" name="color" /></td>
        </tr>
        <tr>
            <td><label>性别</label></td>
            <td><input type="text" id="sex" name="sex"/></td>
        </tr>
        <tr>
            <td><label>父耳牌</label></td>
            <td><input type="text" id="eartagOfFather" name="eartagOfFather" /></td>
        </tr>
        <tr>
            <td><label>母耳牌</label></td>
            <td><input type="text" id="eartagOfMother" name="eartagOfMother" /></td>
        </tr>
        <tr>
            <td><label>父父耳牌</label></td>
            <td><input type="text" id="eartagOfFathersFather" name="eartagOfFathersFather" /></td>
        </tr>
        <tr>
            <td><label>父母耳牌</label></td>
            <td><input type="text" id="eartagOfFathersMother" name="eartagOfFathersMother" /></td>
        </tr>
        <tr>
            <td><label>母父耳牌</label></td>
            <td><input type="text" id="eartagOfMothersFather" name="eartagOfMothersFather" /></td>
        </tr>
        <tr>
            <td><label>母母耳牌</label></td>
            <td><input type="text" id="eartagOfMothersMother" name="eartagOfMothersMother" /></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" name="submit" value="提交"/></td>
        </tr>
    </table>
</form>
</body>
</html>