<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>FindPassword</title>
</head>
<body>
<form action="/phonefind" method="post">
    <table>
        <tr>
            <td><label>填写用户名</label></td>
            <td><input type="text" id="usernameP" name="usernameP"/></td>
            <td><input type="submit" id="submittelephone" value="通过手机验证找回"/></td>
        </tr>
    </table>
</form>

<form action="/questionfind" method="post">
    <table>
        <tr>
            <td><label>填写用户名</label></td>
            <td><input type="text" id="usernameQ" name="usernameQ"/></td>
            <td><input type="submit" id="submitquestion" value="通过验证问题找回"/></td>
        </tr>
    </table>
</form>
</body>
</html>