<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>AllFunctionChoice</title>
</head>
<body>
<!--选择系谱档案功能-->
<form action="/allfunction/gf/function" method="post">
    <table>
        <tr>
            <td><input type="submit" id="submitgenealogicalfiles" value="系谱档案"/></td>
        </tr>
    </table>
</form>
<!--选择消毒档案功能-->
<form action="/allfunction/df/function" method="post">
    <table>
        <tr>
            <td><input type="submit" id="submitdisinfectfiles" value="消毒档案"/></td>
        </tr>
    </table>
</form>
<!--选择免疫档案功能-->
<form action="/allfunction/ip/function" method="post">
    <table>
        <tr>
            <td><input type="submit" id="submitimmuneplan" value="免疫档案"/></td>
        </tr>
    </table>
</form>
<!--选择驱虫档案功能-->
<form action="/allfunction/rp/function" method="post">
    <table>
        <tr>
            <td><input type="submit" id="submitrepellentplan" value="驱虫档案"/></td>
        </tr>
    </table>
</form>
</body>
</html>