<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>添加档案</title>
</head>
<body>
<a>逐条添加信息 ：</a>
<form action="/BreedingInsert/show" method="get">
    <table>
        <tr>
            <td><label>工厂编号</label></td>
            <td><input type="text" id="factoryNum" name="factoryNum" /></td>
        </tr>
        <tr>
            <td><label>栋号</label></td>
            <td><input type="text" id="building" name="building" /></td>
        </tr>
        <tr>
            <td><label>母羊免疫耳牌</label></td>
            <td><input type="text" id="mEtI" name="mEtI" /></td>
        </tr>
        <tr>
            <td><label>母羊商标耳牌</label></td>
            <td><input type="text" id="mEtB" name="mEtB" /></td>
        </tr>
        <tr>
            <td><label>公羊免疫耳牌</label></td>
            <td><input type="text" id="fEtI" name="fEtI" /></td>
        </tr>
        <tr>
            <td><label>公羊商标耳牌</label></td>
            <td><input type="text" id="fEtB" name="fEtB" /></td>
        </tr>
        <tr>
            <td><label>配种时间</label></td>
            <td><input type="text" id="s_breedingT" name="s_breedingT" /></td>
        </tr>
        <tr>
            <td><label>妊娠时间</label></td>
            <td><input type="text" id="s_gestationT" name="s_gestationT" /></td>
        </tr>
        <tr>
            <td><label>产前免疫（三联四防）接种时间</label></td>
            <td><input type="text" id="s_prenatalIT" name="s_prenatalIT" /></td>
        </tr>
        <tr>
            <td><label>产羔时间</label></td>
            <td><input type="text" id="s_cubT" name="s_cubT" /></td>
        </tr>
        <tr>
            <td><label>产羔数</label></td>
            <td><input type="text" id="quantity" name="quantity" /></td>
        </tr>
        <tr>
            <td><label>操作员</label></td>
            <td><input type="text" id="operator" name="operator" /></td>
        </tr>
        <!--<tr>
            <td><label>技术审核</label></td>
            <td><input type="text" id="professor" name="professor" /></td>
        </tr>
        <tr>
            <td><label>监督员</label></td>
            <td><input type="text" id="supervisor" name="supervisor" /></td>
        </tr>-->
        <tr>
            <td><label>备注信息</label></td>
            <td><input type="text" id="remark" name="remark" /></td>
        </tr>
        <!--<tr>
            <td><label>是否通过审核</label></td>
            <td><input type="text" id="isPass" name="isPass" /></td>
        </tr>
        <tr>
            <td><label>未通过审核原因</label></td>
            <td><input type="text" id="upassReason" name="upassReason" /></td>
        </tr>-->

        <tr>
            <td><input type="submit" id="submit" value="录入"/></td>
        </tr>
    </table>
</form>
</body>
</html>