<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>查找档案</title>
</head>
<body>
<a>按照条件查找信息 ：</a>
<form action="/BreedingSelective/show" method="get">
    <table>
        <tr>
            <td><label>记录号（主键）</label></td>
            <td><input type="text" id="id" name="id" /></td>
        </tr>
        <tr>
            <td><label>工厂编号</label></td>
            <td><input type="text" id="factoryNum" name="factoryNum" /></td>
        </tr>
        <tr>
            <td><label>母羊免疫耳牌</label></td>
            <td><input type="text" id="mEtI" name="mEtI" /></td>
        </tr>
        <tr>
            <td><label>母羊商标耳牌</label></td>
            <td><input type="text" id="mEtB" name="mEtB" /></td>
        </tr>
        <tr>
            <td><label>公羊免疫耳牌</label></td>
            <td><input type="text" id="fEtI" name="fEtI" /></td>
        </tr>
        <tr>
            <td><label>公羊商标耳牌</label></td>
            <td><input type="text" id="fEtB" name="fEtB" /></td>
        </tr>
        <!--<tr>
            <td><label>配种时间</label></td>
            <td><input type="text" id="s_breedingT" name="s_breedingT" /></td>
        </tr>
        <tr>
            <td><label>妊娠时间</label></td>
            <td><input type="text" id="s_gestationT" name="s_gestationT" /></td>
        </tr>
        <tr>
            <td><label>产前免疫（三联四防）接种时间</label></td>
            <td><input type="text" id="s_prenatalIT" name="s_prenatalIT" /></td>
        </tr>
        <tr>
            <td><label>产羔时间</label></td>
            <td><input type="text" id="s_cubT" name="s_cubT" /></td>
        </tr>-->
        <tr>
            <td><label>配种时间1---配种时间2</label></td>
            <td><input type="text" id="s_breedingT1" name="s_breedingT1" /></td>
            <td><label>------</label></td>
            <td><input type="text" id="s_breedingT2" name="s_breedingT2" /></td>
        </tr>
        <tr>
            <td><label>妊娠时间1---妊娠时间2</label></td>
            <td><input type="text" id="s_gestationT1" name="s_gestationT1" /></td>
            <td><label>------</label></td>
            <td><input type="text" id="s_gestationT2" name="s_gestationT2" /></td>
        </tr>
        <tr>
            <td><label>产前免疫（三联四防）接种时间1---产前免疫（三联四防）接种时间2</label></td>
            <td><input type="text" id="s_prenatalIT1" name="s_prenatalIT1" /></td>
            <td><label>------</label></td>
            <td><input type="text" id="s_prenatalIT2" name="s_prenatalIT2" /></td>
        </tr>
        <tr>
            <td><label>产羔时间1---产羔时间2</label></td>
            <td><input type="text" id="s_cubT1" name="s_cubT1" /></td>
            <td><label>------</label></td>
            <td><input type="text" id="s_cubT2" name="s_cubT2" /></td>
        </tr>
        <tr>
            <td><label>产羔数</label></td>
            <td><input type="text" id="quantity" name="quantity" /></td>
        </tr>
        <tr>
            <td><label>操作员</label></td>
            <td><input type="text" id="operator" name="operator" /></td>
        </tr>
        <tr>
            <td><label>技术审核</label></td>
            <td><input type="text" id="professor" name="professor" /></td>
        </tr>
        <tr>
            <td><label>监督员</label></td>
            <td><input type="text" id="supervisor" name="supervisor" /></td>
        </tr>
        <tr>
            <td><label>是否通过审核</label></td>
            <td><input type="text" id="isPass" name="isPass" /></td>
        </tr>
        <tr>
            <td><label>未通过审核原因</label></td>
            <td><input type="text" id="upassReason" name="upassReason" /></td>
        </tr>

        <tr>
            <td><input type="submit" id="submit" value="查找"/></td>
        </tr>
    </table>
</form>
</body>
</html>