<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>更新档案</title>
</head>
<body>
<a>选择性修改信息 ：</a>
<form action="/BreedingUpdateBySupervisor/show" method="get">
    <table>
        <tr>
            <td><label>记录号</label></td>
            <td><input type="text" id="id" name="id" /></td>
        </tr>
        <tr>
            <td><label>监督员</label></td>
            <td><input type="text" id="supervisor" name="supervisor" /></td>
        </tr>
        <tr>
            <td><label>是否通过监督（11表示通过 00表示不通过）</label></td>
            <td><input type="text" id="isPass1" name="isPass1" /></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="提交"/></td>
        </tr>
    </table>
</form>
</body>
</html>