<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>更新档案</title>
</head>
<body>
<a>选择性修改信息：</a>
<form action="/NoticeUpdate/show" method="post"><!-- enctype="multipart/form-data"-->
    <table>
        <tr>
            <td><label>记录号</label></td>
            <td><input type="text" id="id" name="id" /></td>
        </tr>
        <tr>
            <td><label>技术审核</label></td>
            <td><input type="text" id="professor" name="professor" /></td>
        </tr>
        <tr>
            <td><label>类型</label></td>
            <td><input type="text" id="type" name="type" /></td>
        </tr>
        <tr>
            <td><label>标题</label></td>
            <td><input type="text" id="title" name="title" /></td>
        </tr>
        <tr>
            <td><label>内容</label></td>
            <td><input type="text" id="content" name="content" /></td>
        </tr>
        <!--<tr>
            <td><label>图片</label></td>
            <td><input type="file" name="file" multiple/></td>
        </tr>-->
        <tr>
            <td><input type="submit" id="submit" value="提交"/></td>
        </tr>
    </table>
</form>
</body>
</html>