<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>添加档案</title>
</head>
<body>
<a>逐条添加信息：</a>
<form action="/NoticeInsert/show" method="post" enctype="multipart/form-data">
    <table>
        <tr>
            <td><label>技术审核</label></td>
            <td><input type="text" id="professor" name="professor" /></td>
        </tr>
        <tr>
            <td><label>类型</label></td>
            <td><input type="text" id="type" name="type" /></td>
        </tr>
        <tr>
            <td><label>标题</label></td>
            <td><input type="text" id="title" name="title" /></td>
        </tr>
        <tr>
            <td><label>内容</label></td>
            <td><input type="text" id="content" name="content" /></td>
        </tr>
        <!--<tr>
            <td><label>图片</label></td>
            <td><input type="file" name="file" multiple/></td>
        </tr>-->
        <td><input type="submit" id="submit" value="录入"/></td>
    </table>
</form>
</body>
</html>