<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>修改档案</title>
</head>
<body>
<a>逐条修改信息：</a>
<form action="/NutritionUpdate/show" method="get">
    <table>
        <tr>
            <td><label>记录号（例如 20180222）</label></td>
            <td><input type="text" id="id" name="id" /></td>
        </tr>
        <tr>
            <td><label>工厂编号</label></td>
            <td><input type="text" id="factoryNum" name="factoryNum" /></td>
        </tr>
        <tr>
            <td><label>栋号</label></td>
            <td><input type="text" id="building" name="building" /></td>
        </tr>
        <tr>
            <td><label>营养实施日期</label></td>
            <td><input type="text" id="s_nutritionT" name="s_nutritionT" /></td>
        </tr>
        <tr>
            <td><label>羊数</label></td>
            <td><input type="text" id="quantity" name="quantity" /></td>
        </tr>
        <tr>
            <td><label>羊只均重/公斤</label></td>
            <td><input type="text" id="average" name="average" /></td>
        </tr>
        <tr>
            <td><label>阶段</label></td>
            <td><input type="text" id="period" name="period" /></td>
        </tr>
        <tr>
            <td><label>精料配方（%）添加剂</label></td>
            <td><input type="text" id="materialA" name="materialA" /></td>
        </tr>
        <tr>
            <td><label>精料配方（%）精料</label></td>
            <td><input type="text" id="materialM" name="materialM" /></td>
        </tr>
        <tr>
            <td><label>精料配方（%）其他</label></td>
            <td><input type="text" id="materialO" name="materialO" /></td>
        </tr>
        <tr>
            <td><label>精料用量（体重%）精料</label></td>
            <td><input type="text" id="materialWM" name="materialWM" /></td>
        </tr>
        <tr>
            <td><label>精料用量（体重%）其他</label></td>
            <td><input type="text" id="materialWO" name="materialWO" /></td>
        </tr>
        <tr>
            <td><label>粗饲料配方（%）青料</label></td>
            <td><input type="text" id="roughageP" name="roughageP" /></td>
        </tr>
        <tr>
            <td><label>粗饲料配方（%）干料</label></td>
            <td><input type="text" id="roughageD" name="roughageD" /></td>
        </tr>
        <tr>
            <td><label>粗饲料用量（体重%）青料</label></td>
            <td><input type="text" id="roughageWP" name="roughageWP" /></td>
        </tr>
        <tr>
            <td><label>粗饲料用量（体重%）干料</label></td>
            <td><input type="text" id="roughageWD" name="roughageWD" /></td>
        </tr>
        <tr>
            <td><label>粗饲料用量（体重%）其他</label></td>
            <td><input type="text" id="roughageWO" name="roughageWO" /></td>
        </tr>
        <tr>
            <td><label>饮水</label></td>
            <td><input type="text" id="water" name="water" /></td>
        </tr>
        <tr>
            <td><label>领料总量精料</label></td>
            <td><input type="text" id="pickingM" name="pickingM" /></td>
        </tr>
        <tr>
            <td><label>领料总量粗饲料</label></td>
            <td><input type="text" id="pickingR" name="pickingR" /></td>
        </tr>
        <tr>
            <td><label>领料总量其他</label></td>
            <td><input type="text" id="pickingO" name="pickingO" /></td>
        </tr>
        <tr>
            <td><label>操作员</label></td>
            <td><input type="text" id="operator" name="operator" /></td>
        </tr>
        <tr>
            <td><label>技术审核</label></td>
            <td><input type="text" id="professor" name="professor" /></td>
        </tr>
        <tr>
            <td><label>监督员</label></td>
            <td><input type="text" id="supervisor" name="supervisor" /></td>
        </tr>
        <tr>
            <td><label>备注信息</label></td>
            <td><input type="text" id="remark" name="remark" /></td>
        </tr>
        <tr>
            <td><label>是否通过审核</label></td>
            <td><input type="text" id="isPass" name="isPass" /></td>
        </tr>
        <tr>
            <td><label>未通过审核原因</label></td>
            <td><input type="text" id="upassReason" name="upassReason" /></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="更新"/></td>
        </tr>
    </table>
</form>
</body>
</html>