<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>查找档案</title>
</head>
<body>
<a>按照日期查找信息 ：</a>
<form action="/NutritionSelectByDate/show" method="get">
    <table>
        <tr>
            <td><label>营养实施时间1---营养实施时间2</label></td>
            <td><input type="text" id="s_nutritionT1" name="s_nutritionT1" /></td>
            <td><label>------</label></td>
            <td><input type="text" id="s_nutritionT2" name="s_nutritionT2" /></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="查询"/></td>
        </tr>
    </table>
</form>
</body>
</html>