<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>查找档案</title>
</head>
<body>
<a>按照条件查找信息 ：</a>
<form action="/NutritionSelective/show" method="get">
    <table>
        <tr>
            <td><label>记录号（主键）</label></td>
            <td><input type="text" id="id" name="id" /></td>
        </tr>
        <tr>
            <td><label>技术审核</label></td>
            <td><input type="text" id="professor" name="professor" /></td>
        </tr>
        <tr>
            <td><label>是否通过审核</label></td>
            <td><input type="text" id="isPass" name="isPass" /></td>
        </tr>
        <tr>
            <td><label>未通过审核原因</label></td>
            <td><input type="text" id="upassReason" name="upassReason" /></td>
        </tr>
        <tr>
            <td><input type="submit" id="submit" value="查询"/></td>
        </tr>
    </table>
</form>
</body>
</html>