<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8"/>
    <title>Save</title>
</head>
<body>
<form action="/allfunction/rp/saveshow" method="post">
    <table>
        <tr>
            <td><label>工厂编号</label></td>
            <td><input type="text" id="factoryNum" name="factoryNum"/></td>
        </tr>
        <tr>
            <td><label>羊群编号</label></td>
            <td><input type="text" id="crowdNum" name="crowdNum"/></td>
        </tr>
        <tr>
            <td><label>耳牌附件号</label></td>
            <td><input type="text" id="repellentEartag" name="repellentEartag"/></td>
        </tr>
        <tr>
            <td><label>驱虫时间</label></td>
            <td><input type="date" id="repellentTime" name="repellentTime" value="2018-03-01"/></td>
        </tr>
        <tr>
            <td><label>药物名称</label></td>
            <td><input type="text" id="repellentName" name="repellentName"/></td>
        </tr>

        <tr>
            <td><label>给药方式</label></td>
            <td><input type="text" id="repellentWay" name="repellentWay"/></td>
        </tr>
        <tr>
            <td><label>给药剂量</label></td>
            <td><input type="text" id="repellentQuality" name="repellentQuality"/></td>
        </tr>
        <tr>
            <td><label>操作员</label></td>
            <td><input type="text" id="operator" name="operator"/></td>
        </tr>
        <!--
        <tr>
            <td><label>技术审核</label></td>
            <td><input type="text" id="professor" name="professor"/></td>
        </tr>

        <tr>
            <td><label>监督员</label></td>
            <td><input type="text" id="supervisor" name="supervisor"/></td>
        </tr>
        -->
        <tr>
            <td><label>备注</label></td>
            <td><input type="text" id="remark" name="remark"/></td>
        </tr>
        <!--
        <tr>
            <td><label>是否通过审核</label></td>
            <td><input type="text" id="isPass" name="isPass"/></td>
        </tr>
        <tr>
            <td><label>未通过审核原因</label></td>
            <td><input type="text" id="unpassReason" name="unpassReason"/></td>
        </tr>
        -->
        <!--
        <tr>
            <td><label>创建时间</label></td>
            <td><input type="text" id="gmtCreate" name="gmtCreate"/></td>
        </tr>
        <tr>
            <td><label>修改时间</label></td>
            <td><input type="text" id="gmtModified" name="gmtModified"/></td>
        </tr>
        <tr>
            <td><label>审核时间</label></td>
            <td><input type="text" id="gmtProfessor" name="gmtProfessor"/></td>
        </tr>
        <tr>
            <td><label>监督确认时间</label></td>
            <td><input type="text" id="gmtSupervise" name="gmtSupervise"/></td>
        </tr>
        -->
        <tr>
            <td><input type="submit" id="submit" value="提交"/></td>
        </tr>

    </table>
</form>
</body>
</html>