<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapper名称 对应infra中mapper类名-->
<mapper namespace="com.deep.infra.persistence.sql.mapper.DisinfectFilesMapper">
    <insert id="setDisinfectFilesModel">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="disinfectFilesModel.id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO disinfect_files(
        disinfect_et,
        factory_num,
        disinfect_t,
        disinfect_n,
        disinfect_q,
        disinfect_m,
        operator,
        remark,
        is_pass,
        is_pass1,
        gmt_create,
        gmt_modified
        )
        VALUES(
        #{disinfectFilesModel.disinfectEartag},
        #{disinfectFilesModel.factoryNum},
        #{disinfectFilesModel.disinfectTime},
        #{disinfectFilesModel.disinfectName},
        #{disinfectFilesModel.disinfectQuality},
        #{disinfectFilesModel.disinfectWay},
        #{disinfectFilesModel.operator},
        #{disinfectFilesModel.remark},
        #{disinfectFilesModel.isPass},
        #{disinfectFilesModel.isPass1},
        #{disinfectFilesModel.gmtCreate},
        now()
        )
    </insert>
    <resultMap id="DisinfectFiles" type="com.deep.domain.model.DisinfectFilesModel">
        <id property="id" column="id"/>
        <result property="factoryNum" column="factory_num"/>
        <result property="disinfectTime" column="disinfect_t"/>
        <result property="disinfectName" column="disinfect_n"/>
        <result property="disinfectQuality" column="disinfect_q"/>
        <result property="disinfectWay" column="disinfect_m"/>
        <result property="operator" column="operator"/>
        <result property="professor" column="professor"/>
        <result property="supervisor" column="supervisor"/>
        <result property="remark" column="remark"/>
        <result property="isPass" column="is_pass"/>
        <result property="unpassReason" column="unpass_reason"/>
        <result property="isPass1" column="is_pass1"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="gmtProfessor" column="gmt_professor"/>
        <result property="gmtSupervise" column="gmt_supervise"/>
    </resultMap>

    <select id="getDisinfectFilesModel" resultMap="DisinfectFiles">
        SELECT
        *
        FROM
        disinfect_files
        WHERE
        1=1

        <if test="disinfectFilesModel.id != null and disinfectFilesModel.id != ''">
            AND id = #{disinfectFilesModel.id}
        </if>
        <if test="disinfectFilesModel.factoryNum != null and disinfectFilesModel.factoryNum != '' ">
            AND factory_num = #{disinfectFilesModel.factoryNum}
        </if>

        <if test="disinfectFilesModel.disinfectTimeStart != null and disinfectFilesModel.disinfectTimeStart != '' and
                  disinfectFilesModel.disinfectTimeEnd != null and disinfectFilesModel.disinfectTimeEnd != '' ">
            AND disinfect_t BETWEEN #{disinfectFilesModel.disinfectTimeStart} AND #{disinfectFilesModel.disinfectTimeEnd}
        </if>

        <if test="disinfectFilesModel.disinfectTimeStart != null and disinfectFilesModel.disinfectTimeStart != '' and
         (disinfectFilesModel.disinfectTimeEnd == null or disinfectFilesModel.disinfectTimeEnd == '') ">
            AND disinfect_t &gt;= #{disinfectFilesModel.disinfectTimeStart}
        </if>
        <if test="disinfectFilesModel.disinfectName != null and disinfectFilesModel.disinfectName != '' ">
            AND disinfect_n = #{disinfectFilesModel.disinfectName}
        </if>
        <if test="disinfectFilesModel.disinfectQuality != null and disinfectFilesModel.disinfectQuality != '' ">
            AND disinfect_q = #{disinfectFilesModel.disinfectQuality}
        </if>
        <if test="disinfectFilesModel.disinfectWay != null and disinfectFilesModel.disinfectWay != '' ">
            AND disinfect_m = #{disinfectFilesModel.disinfectWay}
        </if>
        <if test="disinfectFilesModel.operator != null and disinfectFilesModel.operator != '' ">
            AND operator = #{disinfectFilesModel.operator}
        </if>
        <if test="disinfectFilesModel.professor != null and disinfectFilesModel.professor != '' ">
            AND professor = #{disinfectFilesModel.professor}
        </if>
        <if test="disinfectFilesModel.supervisor != null and disinfectFilesModel.supervisor != '' ">
            AND supervisor = #{disinfectFilesModel.supervisor}
        </if>
        <if test="disinfectFilesModel.remark != null and disinfectFilesModel.remark != '' ">
            AND remark = #{disinfectFilesModel.remark}
        </if>
        <if test="disinfectFilesModel.isPass != null and disinfectFilesModel.isPass != '' ">
            AND is_pass = #{disinfectFilesModel.isPass}
        </if>
        <if test="disinfectFilesModel.unpassReason != null and disinfectFilesModel.unpassReason != '' ">
            AND upass_reason = #{disinfectFilesModel.unpassReason}
        </if>
        <if test="disinfectFilesModel.isPass1 != null and disinfectFilesModel.isPass1 != '' ">
            AND is_pass1 = #{disinfectFilesModel.isPass1}
        </if>

    </select>


    <!--用于追溯时查询-->
    <select id="getDisinfectFilesModelByfactoryNumAnddisinfectTime" resultMap="DisinfectFiles">
        SELECT
        *
        FROM
        disinfect_files
        WHERE factory_num = #{factoryNum} AND disinfect_t BETWEEN #{gmtCreate} AND #{gmtTrans}
    </select>

    <select id="getDisinfectFilesModelByfactoryNum" resultMap="DisinfectFiles">
        SELECT
        *
        FROM
        disinfect_files
        WHERE
        factory_num = #{factoryNum}
    </select>
    <select id="getDisinfectFilesModelBydisinfectTime" resultMap="DisinfectFiles">
        SELECT
        *
        FROM
        disinfect_files
        WHERE
        disinfect_t = #{disinfectTime}
    </select>

    <select id="getDisinfectFilesModelByfactoryNumAnddisinfectTimeAnddisinfectName" resultMap="DisinfectFiles">
        SELECT
        *
        FROM
        disinfect_files
        WHERE
        factory_num = #{factoryNum} AND disinfect_t = #{disinfectTime} AND disinfect_n = #{disinfectName}
    </select>

    <select id="getDisinfectFilesModelByProfessor" resultMap="DisinfectFiles">
        SELECT
        *
        FROM
        disinfect_files
        WHERE
        is_pass = #{isPass}
    </select>

    <select id="getDisinfectFilesModelBySupervisor" resultMap="DisinfectFiles">
        SELECT
        *
        FROM
        disinfect_files
        WHERE
        is_pass1 = #{isPass1}
    </select>

    <select id="getDisinfectFilesModelByid" resultMap="DisinfectFiles">
        SELECT
        *
        FROM
        disinfect_files
        WHERE
        id = #{id}
    </select>

    <update id="updateDisinfectFilesModelByProfessor">
        UPDATE disinfect_files
        SET  professor = #{disinfectFilesModel.professor},
        is_pass = #{disinfectFilesModel.isPass},
        upass_reason = #{disinfectFilesModel.unpassReason},
        gmt_professor = #{disinfectFilesModel.gmtProfessor}
        WHERE
        id = #{disinfectFilesModel.id}
    </update>

    <update id="updateDisinfectFilesModelBySupervisor">
        UPDATE disinfect_files
        SET  supervisor = #{disinfectFilesModel.supervisor},
        is_pass1 = #{disinfectFilesModel.isPass1},
        gmt_supervised = #{disinfectFilesModel.gmtSupervise}
        WHERE
        id = #{disinfectFilesModel.id}
    </update>

    <update id="updateDisinfectFilesModelByOperator">
        UPDATE disinfect_files
        <set>
            <if test="disinfectFilesModel.factoryNum != null and disinfectFilesModel.factoryNum != ''">
                factory_num = #{disinfectFilesModel.factoryNum},
            </if>
            <if test="disinfectFilesModel.disinfectTime != null and disinfectFilesModel.disinfectTime != ''">
                disinfect_t = #{disinfectFilesModel.disinfectTime},
            </if>
            <if test="disinfectFilesModel.disinfectName != null and disinfectFilesModel.disinfectName != ''">
                disinfect_n = #{disinfectFilesModel.disinfectName},
            </if>
            <if test="disinfectFilesModel.disinfectQuality != null and disinfectFilesModel.disinfectQuality != ''">
                disinfect_q = #{disinfectFilesModel.disinfectQuality},
            </if>
            <if test="disinfectFilesModel.disinfectWay != null and disinfectFilesModel.disinfectWay != ''">
                disinfect_m = #{disinfectFilesModel.disinfectWay},
            </if>
            <if test="disinfectFilesModel.remark != null and disinfectFilesModel.remark != ''">
                remark = #{disinfectFilesModel.remark}
            </if>

        </set>
        WHERE
        id = #{disinfectFilesModel.id}
    </update>

    <delete id="deleteDisinfectFilesModelByid" >
        DELETE FROM
        disinfect_files
        WHERE
        id = #{id}
    </delete>

</mapper>