<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deep.infra.persistence.sql.mapper.OperationFileMapper">
    <resultMap id="OperationFile" type="com.deep.domain.model.OperationFile">
        <id property="id" column="id" />
        <result property = "gmtCreate" column = "gmt_create"/>
        <result property = "gmtModified"  column = "gmt_modified" />
        <result property="checkTime" column="check_time"/>
        <result property="colonyHouse" column="colony_house"/>
        <result property="warehouseWorkshop" column="warehouse_workshop" />
        <result property="killWormDeratization" column="kill_worm_deratization" />
        <result property="sterilizingRoom" column="sterilizing_room" />
        <result property="operation" column="operation" />
        <result property="needleSheep" column="needle_sheep" />
        <result property="vaccine" column="vaccine" />
        <result property="safetyProtection" column="safety_protection" />
        <result property="rubbishWater" column="rubbish_water" />
        <result property="operationSpecification" column="operation_specification" />
        <result property="airTemperature" column="air_temperature" />
        <result property="exerciseDaylighting" column="exercise_daylighting" />
        <result property="carDisinfect" column="car_disinfect" />
        <result property="operatorId" column="operator_id" />
        <result property="operatorName" column="operator_name"/>
        <result property="ispassCheck" column="ispass_check" />
        <result property="ispassSup" column="ispass_sup"/>
        <result property="factoryName" column="factory_name"/>
        <result property="factoryNum" column="factory_num"/>
    </resultMap>

    <select id="getOperationFile" resultMap="OperationFile" parameterType="com.deep.api.request.OperationCoditionRequest">
        select *
        from operation_file
        where 1 = 1

        <if test="operationCoditionRequest.factoryList != null">
            AND factory_num in (
            <foreach collection="operationCoditionRequest.factoryList" separator="," index="index" item="factoryNum">
                #{factoryNum}
            </foreach>
            )
        </if>
        <if test="operationCoditionRequest.factoryNum != null">
            AND factory_num = #{operationCoditionRequest.factoryNum}
        </if>
        <if test="operationCoditionRequest.operationId != null">
            AND operator_id = #{operationCoditionRequest.operationId}
        </if>

        <if test="operationCoditionRequest.checkTime != null">
            AND check_time &gt;= #{operationCoditionRequest.checkTime}
        </if>

        <if test="operationCoditionRequest.ispassCheck != null">
            AND ispass_check = #{operationCoditionRequest.ispassCheck}
        </if>

        <if test="operationCoditionRequest.ispassSup != null">
            AND ispass_sup = #{operationCoditionRequest.ispassSup}
        </if>

    </select>

    <select id = "getOperationFileById" resultMap="OperationFile">
        select *
        from operation_file
        where id = #{id}
    </select>

    <select id = "getOperationFileByFactoryNum" resultMap="OperationFile">
        select *
        from operation_file
        where factory_num = #{factoryNum}
    </select>

    <insert id="addOperationFile" useGeneratedKeys="true" keyColumn="id" keyProperty="operationFile.id">
        insert into operation_file(
        id,
        check_time,
        colony_house,
        factory_name,
        factory_num,
        warehouse_workshop,
        kill_worm_deratization,
        sterilizing_room,
        operation,
        needle_sheep,
        vaccine,
        safety_protection,
        rubbish_water,
        operation_specification,
        air_temperature,
        exercise_daylighting,
        car_disinfect,
        operator_id,
        operator_name,
        ispass_check,
        ispass_sup,
        gmt_create,
        gmt_modified
        )
        values (
        #{operationFile.id},
        #{operationFile.checkTime},
        #{operationFile.colonyHouse},
        #{operationFile.factoryName},
        #{operationFile.factoryNum},
        #{operationFile.warehouseWorkshop},
        #{operationFile.killWormDeratization},
        #{operationFile.sterilizingRoom},
        #{operationFile.operation},
        #{operationFile.needleSheep},
        #{operationFile.vaccine},
        #{operationFile.safetyProtection},
        #{operationFile.rubbishWater},
        #{operationFile.operationSpecification},
        #{operationFile.airTemperature},
        #{operationFile.exerciseDaylighting},
        #{operationFile.carDisinfect},
        #{operationFile.operatorId},
        #{operationFile.operatorName},
        2,
        2,
        now(),
        now()
        )
    </insert>


    <update id="updateCheckStatus" >
        update
        operation_file
        <set>
            ispass_check = #{ispassCheck},
            gmt_modified = now()
        </set>
        where  id = #{id} and ispass_check = 2
    </update>

    <update id="updateSupStatus">
        update
        operation_file
        <set>
            ispass_sup = #{supStatus},
            gmt_modified = now()
        </set>
        where  id = #{id} and ispass_sup = 2
    </update>

    <update id="updateOperationFileByOperationFile">
        update
        operation_file
        <set>
            <if test="operationFile.checkTime != null and operationFile.checkTime != ''">
                check_time = #{operationFile.checkTime},
            </if>

            <if test="operationFile.colonyHouse !=null">
                colony_house = #{operationFile.colonyHouse},
            </if>

            <if test="operationFile.warehouseWorkshop != null">
                warehouse_workshop = #{operationFile.warehouseWorkshop},
            </if>

            <if test="operationFile.factoryName != null and operationFile.factoryName !=''">
                factory_name = #{operationFile.factoryName},
            </if>

            <if test="operationFile.killWormDeratization != null">
                kill_worm_deratization = #{operationFile.killWormDeratization},
            </if>

            <if test="operationFile.sterilizingRoom != null">
                sterilizing_room = #{operationFile.sterilizingRoom},
            </if>

            <if test="operationFile.operation != null">
                operation = #{operationFile.operation},
            </if>

            <if test="operationFile.needleSheep != null">
                needle_sheep = #{operationFile.needleSheep},
            </if>

            <if test="operationFile.vaccine != null">
                vaccine = #{operationFile.vaccine},
            </if>

            <if test="operationFile.safetyProtection != null">
                safety_protection = #{operationFile.safetyProtection},
            </if>

            <if test="operationFile.rubbishWater != null">
                rubbish_water = #{operationFile.rubbishWater},
            </if>

            <if test="operationFile.operationSpecification != null">
                operation_specification = #{operationFile.operationSpecification},
            </if>

            <if test="operationFile.airTemperature != null">
                air_temperature = #{operationFile.airTemperature},
            </if>

            <if test="operationFile.exerciseDaylighting != null">
                exercise_daylighting = #{operationFile.exerciseDaylighting},
            </if>

            <if test="operationFile.operatorName != null">
                operator_name = #{operationFile.operatorName},
            </if>

            <if test="operationFile.carDisinfect != null">
                car_disinfect = #{operationFile.carDisinfect},
            </if>
            gmt_modified = now()
        </set>
        where id = #{operationFile.id} and ispass_check = 2 and ispass_sup = 2
    </update>

    <delete id = "deleteOperationFile">
        delete from
        operation_file
        where id = #{id} and ispass_sup != 1
    </delete>

</mapper>