<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapper名称 对应infra中mapper类名-->
<mapper namespace="com.deep.infra.persistence.sql.mapper.RepellentPlanMapper">


    <resultMap id="RepellentPlan" type="com.deep.domain.model.RepellentPlanModel">
        <id property="id" column="id"/>
        <result property="factoryNum" column="factory_num"/>
        <result property="factoryName" column="factory_name"/>
        <result property="crowdNum" column="crowd_num"/>
        <result property="repellentEartag" column="repellent_et"/>
        <result property="repellentTime" column="repellent_t"/>
        <result property="repellentName" column="repellent_n"/>
        <result property="repellentWay" column="repellent_m"/>
        <result property="dose" column="dose"/>
        <result property="operatorId" column="operator_id"/>
        <result property="operatorName" column="operator_name"/>
        <result property="professor" column="professor"/>
        <result property="supervisor" column="supervisor"/>
        <result property="remark" column="remark"/>
        <result property="ispassCheck" column="ispass_check"/>

        <result property="unpassReason" column="upass_reason"/>

        <result property="ispassSup" column="ispass_sup"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="gmtProfessor" column="gmt_professor"/>
        <result property="gmtSupervise" column="gmt_supervised"/>
    </resultMap>


    <insert id="setRepellentPlanModel" parameterType="com.deep.domain.model.RepellentPlanModel">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="repellentPlanModel.id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO repellent_plan(
        factory_num,
        factory_name,
        crowd_num,
        repellent_et,
        repellent_t,
        repellent_n,
        repellent_m,
        dose,
        operator_id,
        operator_name,
        remark,
        ispass_check,
        ispass_sup,
        gmt_create,
        gmt_modified
        )
        VALUES(
        #{repellentPlanModel.factoryNum},
        #{repellentPlanModel.factoryName},
        #{repellentPlanModel.crowdNum},
        #{repellentPlanModel.repellentEartag},
        #{repellentPlanModel.repellentTime},
        #{repellentPlanModel.repellentName},
        #{repellentPlanModel.repellentWay},
        #{repellentPlanModel.dose},
        #{repellentPlanModel.operatorId},
        #{repellentPlanModel.operatorName},
        #{repellentPlanModel.remark},
        2,
        2,
        now(),
        now()
        )
    </insert>

    <select id="getRepellentPlanModel" resultMap="RepellentPlan">
        SELECT
        *
        FROM
        repellent_plan
        WHERE
        1=1

        <if test="repellentPlanModel.factoryList != null">
            AND factory_num in (
            <foreach collection="repellentPlanModel.factoryList" separator="," index="index" item="factoryNum">
                #{factoryNum}
            </foreach>
            )
        </if>

        <if test="repellentPlanModel.factoryNum != null">
            AND factory_num = #{repellentPlanModel.factoryNum}
        </if>
        <if test="repellentPlanModel.crowdNum != null and repellentPlanModel.crowdNum != '' ">
            AND crowd_num = #{repellentPlanModel.crowdNum}
        </if>
        <if test="repellentPlanModel.startTime != null and repellentPlanModel.startTime != '' and
                  (repellentPlanModel.endTime == null or repellentPlanModel.endTime == '') ">
            AND repellent_t &gt;= #{repellentPlanModel.startTime}
        </if>
        <if test="repellentPlanModel.startTime != null and repellentPlanModel.startTime != '' and
                  repellentPlanModel.endTime != null and repellentPlanModel.endTime != '' ">
            AND repellent_t BETWEEN #{repellentPlanModel.startTime} AND #{repellentPlanModel.endTime}
        </if>
        <if test="(repellentPlanModel.startTime == null or repellentPlanModel.startTime == '') and
                  repellentPlanModel.endTime != null and repellentPlanModel.endTime != '' ">
            AND repellent_t &lt;=  #{repellentPlanModel.endTime}
        </if>

        <if test="repellentPlanModel.repellentName != null and repellentPlanModel.repellentName != '' ">
            AND repellent_n = #{repellentPlanModel.repellentName}
        </if>

        <if test="repellentPlanModel.repellentWay != null and repellentPlanModel.repellentWay != '' ">
            AND repellent_m = #{repellentPlanModel.repellentWay}
        </if>

        <if test="repellentPlanModel.dose != null and repellentPlanModel.dose != '' ">
            AND dose = #{repellentPlanModel.dose}

        </if>

        <if test="repellentPlanModel.operatorName != null and repellentPlanModel.operatorName != '' ">
            AND operator_name = #{repellentPlanModel.operatorName}
        </if>

        <if test="repellentPlanModel.operatorId != null and repellentPlanModel.operatorId != ''">

            AND operator_id = #{repellentPlanModel.professorId}
        </if>
        <if test="repellentPlanModel.professor != null and repellentPlanModel.professor != '' ">
            AND professor = #{repellentPlanModel.professor}
        </if>
        <if test="repellentPlanModel.supervisor != null and repellentPlanModel.supervisor != '' ">
            AND supervisor = #{repellentPlanModel.supervisor}
        </if>
        <if test="repellentPlanModel.remark != null and repellentPlanModel.remark != '' ">
            AND remark = #{repellentPlanModel.remark}
        </if>
        <if test="repellentPlanModel.ispassCheck != null and repellentPlanModel.ispassCheck != '' ">
            AND ispass_check = #{repellentPlanModel.ispassCheck}
        </if>
        <if test="repellentPlanModel.unpassReason != null and repellentPlanModel.unpassReason != '' ">
            AND upass_reason = #{repellentPlanModel.unpassReason}
        </if>
        <if test="repellentPlanModel.ispassSup != null and repellentPlanModel.ispassSup != '' ">
            AND ispass_sup = #{repellentPlanModel.ispassSup}
        </if>
    </select>
    <select id="getRepellentPlanModelByTradeMarkEarTag" resultMap="RepellentPlan">

        SELECT
        *
        FROM
        repellent_plan rp
        WHERE
        <foreach collection="repellentEartag" item="eartag" open="(" close=")" separator="or">
            <foreach collection="eartag" item="item" open="(" close=")" separator="or">
                rp.repellent_et LIKE '%${item}%'
            </foreach>
        </foreach>
    </select>

    <select id="getRepellentPlanModelById" resultMap="RepellentPlan">

        SELECT
        *
        FROM
        repellent_plan
        WHERE

        id = #{id}
    </select>

    <select id="getRepellentPlanModelByFactoryNum" resultMap="RepellentPlan">

        SELECT
        *
        FROM
        repellent_plan
        WHERE
        factory_num = #{factoryNum}
    </select>

    <select id="getRepellentPlanModelByFactoryNumAndIsPassCheck" resultMap="RepellentPlan">

        SELECT
        *
        FROM
        repellent_plan
        WHERE

        factory_num = #{factoryNum}
        <if test="ispassCheck != null and ispassCheck != '' ">
            AND ispass_check = #{ispassCheck}
        </if>
    </select>

    <select id="getRepellentPlanModelByFactoryNumAndIsPassSup" resultMap="RepellentPlan">

        SELECT
        *
        FROM
        repellent_plan
        WHERE
        factory_num = #{factoryNum}
        <if test="ispassSup != null and ispassSup != '' ">
            AND ispass_sup = #{ispassSup}
        </if>
    </select>


    <update id="updateRepellentPlanModelByProfessor" >

        UPDATE repellent_plan
        SET  professor = #{repellentPlanModel.professor},
        ispass_check = #{repellentPlanModel.ispassCheck},
        <if test="repellentPlanModel.unpassReason != null">
            upass_reason = #{repellentPlanModel.unpassReason},
        </if>
        gmt_professor = now()
        WHERE
        id = #{repellentPlanModel.id} and ispass_check = 2
    </update>


    <update id="updateRepellentPlanModelBySupervisor" >

        UPDATE repellent_plan
        SET  supervisor = #{repellentPlanModel.supervisor},
        ispass_sup = #{repellentPlanModel.ispassSup},
        gmt_supervised = now()
        WHERE
        id = #{repellentPlanModel.id} and ispass_sup = 2
    </update>

    <update id="updateRepellentPlanModelByOperator">
        UPDATE repellent_plan
        <set>

            <if test="repellentPlanModel.factoryNum != null and repellentPlanModel.factoryNum != ''">
                factory_num = #{repellentPlanModel.factoryNum},
            </if>
            <if test="repellentPlanModel.factoryName != null and repellentPlanModel.factoryName != ''">
                factory_name = #{repellentPlanModel.factoryName},
            </if>
            <if test="repellentPlanModel.crowdNum != null and repellentPlanModel.crowdNum != ''">
                crowd_num = #{repellentPlanModel.crowdNum},
            </if>
            <if test="repellentPlanModel.repellentEartag != null and repellentPlanModel.repellentEartag != ''">
                repellent_et = #{repellentPlanModel.repellentEartag},
            </if>

            <if test="repellentPlanModel.repellentTime != null and repellentPlanModel.repellentTime != ''">
                repellent_t = #{repellentPlanModel.repellentTime},
            </if>
            <if test="repellentPlanModel.repellentName != null and repellentPlanModel.repellentName != ''">
                repellent_n = #{repellentPlanModel.repellentName},
            </if>
            <if test="repellentPlanModel.repellentWay != null and repellentPlanModel.repellentWay != ''">
                repellent_m = #{repellentPlanModel.repellentWay},
            </if>
            <if test="repellentPlanModel.dose != null and repellentPlanModel.dose != ''">
                dose = #{repellentPlanModel.dose},
            </if>

            <if test="repellentPlanModel.remark != null and repellentPlanModel.remark != ''" >
                remark = #{repellentPlanModel.remark}
            </if>
        </set>
        WHERE
        id = #{repellentPlanModel.id} and ispass_check = 2 and ispass_sup = 2
    </update>


    <delete id="deleteRepellentPlanModelByid" >

        DELETE FROM
        repellent_plan
        WHERE
        id = #{id}
    </delete>
</mapper>