<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--Mapper名称 对应infra中mapper类名-->
<mapper namespace="com.deep.infra.persistence.sql.mapper.RepellentPlanMapper">
    <insert id="setRepellentPlanModel" parameterType="com.deep.domain.model.RepellentPlanModel">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="repellentPlanModel.id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO repellent_plan(
        factory_num,
        crowd_num,
        repellent_et,
        repellent_t,
        repellent_n,
        repellent_m,
        repellent_q,
        operator,
        remark,
        is_pass,
        is_pass1,
        gmt_create
        )
        VALUES(
        #{repellentPlanModel.factoryNum},
        #{repellentPlanModel.crowdNum},
        #{repellentPlanModel.repellentEartag},
        #{repellentPlanModel.repellentTime},
        #{repellentPlanModel.repellentName},
        #{repellentPlanModel.repellentWay},
        #{repellentPlanModel.repellentQuality},
        #{repellentPlanModel.operator},
        #{repellentPlanModel.remark},
        #{repellentPlanModel.isPass},
        #{repellentPlanModel.isPass1},
        #{repellentPlanModel.gmtCreate}
        )
    </insert>
    <resultMap id="RepellentPlan" type="com.deep.domain.model.RepellentPlanModel">
        <id property="id" column="id"/>
        <result property="factoryNum" column="factory_num"/>
        <result property="crowdNum" column="crowd_num"/>
        <result property="repellentEartag" column="repellent_et"/>
        <result property="repellentTime" column="repellent_t"/>
        <result property="repellentName" column="repellent_n"/>
        <result property="repellentWay" column="repellent_m"/>
        <result property="repellentQuality" column="repellent_q"/>
        <result property="operator" column="operator"/>
        <result property="professor" column="professor"/>
        <result property="supervisor" column="supervisor"/>
        <result property="remark" column="remark"/>
        <result property="isPass" column="is_pass"/>
        <result property="unpassReason" column="unpass_reason"/>
        <result property="isPass1" column="is_pass1"/>
        <result property="gmtCreate" column="gmt_create"/>
        <result property="gmtModified" column="gmt_modified"/>
        <result property="gmtProfessor" column="gmt_professor"/>
        <result property="gmtSupervise" column="gmt_supervised"/>
    </resultMap>
    <select id="getRepellentPlanModel" resultMap="RepellentPlan">
        SELECT
        *
        FROM
        repellent_plan
        WHERE
        1=1
        <if test="repellentPlanModel.factoryNum != null and repellentPlanModel.factoryNum != '' ">
            AND factory_num = #{repellentPlanModel.factoryNum}
        </if>
        <if test="repellentPlanModel.crowdNum != null and repellentPlanModel.crowdNum != '' ">
            AND crowd_num = #{repellentPlanModel.crowdNum}
        </if>
        <if test="repellentPlanModel.repellentTimeStart != null and repellentPlanModel.repellentTimeStart != '' and
                  repellentPlanModel.repellentTimeEnd != null and repellentPlanModel.repellentTimeEnd != '' ">
            AND repellent_t BETWEEN #{repellentPlanModel.repellentTimeStart} AND #{repellentPlanModel.repellentTimeEnd}
        </if>
        <if test="repellentPlanModel.repellentName != null and repellentPlanModel.repellentName != '' ">
            AND repellent_n = #{repellentPlanModel.repellentName}
        </if>

        <if test="repellentPlanModel.repellentWay != null and repellentPlanModel.repellentWay != '' ">
            AND repellent_m = #{repellentPlanModel.repellentWay}
        </if>
        <if test="repellentPlanModel.repellentQuality != null and repellentPlanModel.repellentQuality != '' ">
            AND repellent_q = #{repellentPlanModel.repellentQuality}
        </if>

        <if test="repellentPlanModel.operator != null and repellentPlanModel.operator != '' ">
            AND operator = #{repellentPlanModel.operator}
        </if>
        <if test="repellentPlanModel.professor != null and repellentPlanModel.professor != '' ">
            AND professor = #{repellentPlanModel.professor}
        </if>
        <if test="repellentPlanModel.supervisor != null and repellentPlanModel.supervisor != '' ">
            AND supervisor = #{repellentPlanModel.supervisor}
        </if>
        <if test="repellentPlanModel.remark != null and repellentPlanModel.remark != '' ">
            AND remark = #{repellentPlanModel.remark}
        </if>
        <if test="repellentPlanModel.isPass != null and repellentPlanModel.isPass != '' ">
            AND is_pass = #{repellentPlanModel.isPass}
        </if>
        <if test="repellentPlanModel.unpassReason != null and repellentPlanModel.unpassReason != '' ">
            AND upass_reason = #{repellentPlanModel.unpassReason}
        </if>
        <if test="repellentPlanModel.isPass1 != null and repellentPlanModel.isPass1 != '' ">
            AND is_pass1 = #{repellentPlanModel.isPass1}
        </if>
    </select>

    <select id="getRepellentPlanModelByfactoryNumAndrepellentTime" resultMap="RepellentPlan">
        SELECT
        *
        FROM
        repellent_plan
        WHERE
        factory_num = #{factoryNum} AND repellent_t BETWEEN #{gmtCreate} AND #{gmtTrans}
    </select>

    <select id="getRepellentPlanModelByfactoryNumAndcrowdNumAndrepellentTimeAndrepellentName" resultMap="RepellentPlan">
        SELECT
        *
        FROM
        repellent_plan
        WHERE
        factory_num = #{factoryNum} AND crowd_num = #{crowdNum} AND repellent_t = #{repellentTime} AND repellent_n = #{repellentName}
    </select>

    <select id="getRepellentPlanModelByid" resultMap="RepellentPlan">
        SELECT
        *
        FROM
        repellent_plan
        WHERE
        id = #{id}
    </select>

    <select id="getRepellentPlanModelByProfessor" resultMap="RepellentPlan">
        SELECT
        *
        FROM
        repellent_plan
        WHERE
        is_pass = #{isPass}
    </select>

    <select id="getRepellentPlanModelBySupervisor" resultMap="RepellentPlan">
        SELECT
        *
        FROM
        repellent_plan
        WHERE
        is_pass1 = #{isPass1}
    </select>



    <update id="updateRepellentPlanModelByProfessor" parameterType="com.deep.domain.model.RepellentPlanModel">
        UPDATE repellent_plan
        SET  professor = #{repellentPlanModel.professor},
        is_pass = #{repellentPlanModel.isPass},
        upass_reason = #{repellentPlanModel.unpassReason},
        gmt_professor = #{repellentPlanModel.gmtProfessor}
        WHERE
        id = #{repellentPlanModel.id}
    </update>

    <update id="updateRepellentPlanModelBySupervisor" parameterType="com.deep.domain.model.RepellentPlanModel">
        UPDATE repellent_plan
        SET  supervisor = #{repellentPlanModel.supervisor},
        is_pass1 = #{repellentPlanModel.isPass1},
        gmt_supervised = #{repellentPlanModel.gmtSupervise}
        WHERE
        id = #{repellentPlanModel.id}
    </update>

    <update id="updateRepellentPlanModelByOperator" parameterType="com.deep.domain.model.RepellentPlanModel">
        UPDATE repellent_plan
        <set>
            <if test="repellentPlanModel.factoryNum != null and repellentPlanModel.factoryNum != ''">
                factory_num = #{repellentPlanModel.factoryNum},
            </if>
            <if test="repellentPlanModel.crowdNum != null and repellentPlanModel.crowdNum != ''">
                crowd_num = #{repellentPlanModel.crowdNum},
            </if>
            <if test="repellentPlanModel.repellentTime != null and repellentPlanModel.repellentTime != ''">
                repellent_t = #{repellentPlanModel.repellentTime},
            </if>
            <if test="repellentPlanModel.repellentName != null and repellentPlanModel.repellentName != ''">
                repellent_n = #{repellentPlanModel.repellentName},
            </if>
            <if test="repellentPlanModel.repellentWay != null and repellentPlanModel.repellentWay != ''">
                repellent_m = #{repellentPlanModel.repellentWay},
            </if>
            <if test="repellentPlanModel.repellentQuality != null and repellentPlanModel.repellentQuality != ''">
                repellent_q = #{repellentPlanModel.repellentQuality},
            </if>
            <if test="repellentPlanModel.remark != null and repellentPlanModel.remark != ''">
                remark = #{repellentPlanModel.remark}
            </if>

        </set>
        WHERE
        id = #{repellentPlanModel.id}
    </update>

    <delete id="deleteRepellentPlanModelByid" parameterType="Long">
        DELETE FROM
        repellent_plan
        WHERE
        id = #{id}
    </delete>
</mapper>