<?xml version="1.0" encoding="UTF-8" ?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.deep.infra.persistence.sql.mapper.TypeBriefMapper">

    <resultMap id="TypeBrief" type="com.deep.domain.model.TypeBriefModel">
        <id property="id" column="id"/>
        <result property="type" column="type"/>
        <result property="brief" column="brief"/>
    </resultMap>
    <insert id="setTypeBrief">
        <selectKey resultType="java.lang.Long" order="AFTER" keyProperty="typeBriefModel.id">
            SELECT LAST_INSERT_ID()
        </selectKey>
        INSERT INTO type_brief(
        type,
        brief
        ) VALUE (
        #{typeBriefModel.type},
        #{typeBriefModel.brief}
        )
    </insert>

    <select id="getAllType" resultType="String">
        SELECT
        type
        FROM
        type_brief
    </select>


    <select id="getAll" resultMap="TypeBrief">
        SELECT
        *
        FROM
        type_brief
    </select>


    <select id="getTypeBrief" resultMap="TypeBrief">
        SELECT
        *
        FROM
        type_brief
        WHERE
        type = #{type}
    </select>

    <update id="updateTypeBrief" >
        UPDATE type_brief
        SET  type = #{typeBriefModel.type},
        brief = #{typeBriefModel.brief}
        WHERE
        id = #{typeBriefModel.id}
    </update>



</mapper>
